.red{
  border: 2px solid red;
}
.green{
  border: 2px solid green;
}
.orange {
  border: 2px solid orange;
}
.shoppingAdd{
  color:  #d68910 !important;
  font-size: 1rem;
  font-weight: bold;
}
.iconCoffe{
  font-size: 1.3rem;
  font-weight: bold;
  color:#3b2f2d !important;
}
.bg-dark-2{
  background-color:  #17202a !important;
  color: #fff;
}